
@{
    ViewBag.Title = "NotLogged";
}

<h2>Please log in or register</h2>

<p class="btn btn-default">  @Html.ActionLink("Log in", "Login", "Account") </p>
<p class="btn btn-default"> @Html.ActionLink("Register", "Register", "Account")  </p>

