
@{
    ViewBag.Title = "OperationSuccesful";
}

<h2>Congratulations!</h2>
Operation was successful!

<div>
    <p class="btn btn-default"> @Html.ActionLink("Back to Homepage", "Index", "Home") </p>
</div>

