
@{
    ViewBag.Title = "NotAdmin";
}

<h2>You are not admin</h2>
Only admins can view this page!

To become admin use the super secret technique, or go back to homepage.

<div>
    <p class="btn btn-default"> @Html.ActionLink("Back to Homepage", "Index", "Home") </p>
</div>

